classification
coco_evaluation/exist_map_coco_Qwen2_vl_2B_baseline.json
coco_evaluation/exist_map_coco_Qwen2_vl_7B_baseline.json
flash-attention
share_data
share_models
wandb
logs
predictions
deft_data
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage
.hypothesis/
.pytest_cache/
.tox/





*.txt
